<configuration>
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ERROR" />
    </appender>
    <root level="ERROR">
        <appender-ref ref="ASYNC-ERROR" />
    </root>

    <appender name="ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/access.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-ACCESS" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="ACCESS" />
    </appender>
    <logger name="access" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC-ACCESS"/>
    </logger>

    <appender name="PERFORMANCE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/perf.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/perf.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-PERFORMANCE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="PERFORMANCE" />
    </appender>
    <logger name="perf" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC-PERFORMANCE"/>
    </logger>

    <appender name="TRACKED" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/tracked.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/tracked.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-TRACKED" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TRACKED" />
    </appender>
    <logger name="tracked" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC-TRACKED"/>
    </logger>

    <appender name="SERVICES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/services.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/services.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC-SERVICES" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SERVICES" />
    </appender>
    <logger name="services" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC-SERVICES"/>
    </logger>
</configuration>